{% extends "Food/base.html" %}
{% block body %}
<form method="POST">
{% csrf_token %}
  <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card-header">
              <div class="card-title text-center bg-info">
                login
              </div>
              <div class="card-body">
                 {% for field in  form %}
                 <div class="form-group">
                  {{ field.label }}
                  <br>
                  {{ field }}
                </div>
                 {% endfor %}
                 <button type="submit">submit</button>
                 </form>
              </div>
           </div>
        </div>
    </div>
  </div>
{% endblock %}